body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
  background: #ecf0f3;
}

.calc_container {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30vw; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  min-height: 60vh;
  font-weight: bold;
  font-size: 3em;
  padding: 12px;
  line-height: 1.5em;
  opacity: 0.5;
  font-style: italic;
}

.heading {
  font-size: 80px;
  font-family: bold;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.container {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.content {
  width: 100%;
  margin-top: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row button {
  width: 60px;
  height: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 4px;
  transition: 0.1s;
  box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff;
}

.row button:hover {
  box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px #fff;
  background: #fff;
}

#screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5em;
  background: #ecf0f3;
  border-radius: 6px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

#eval {
  background: #3cf;
  color: #fff;
  box-shadow: inset 5px 5px 8px #66d9ff, inset -5px -5px 8px #00ace6;
}

#eval:hover {
  box-shadow: inset 5px 5px 8px #00ace6, inset -5px -5px 8px #00ace6;
}

#ac {
  background: #3c3;
  color: #fff;
}

#ac:hover {
  box-shadow: inset 5px 5px 8px #2eb82e, inset -5px -5px 8px #3c3;
}

#ce {
  background: #f39;
  color: #fff;
}

#ce:hover {
  box-shadow: inset 5px 5px 8px #e60073, inset -5px -5px 8px #f39;
}
